{% extends "layouts/moderator_base.html" %}

{% block title %} Add Student Teacher {% endblock %}

{% block body_class %} moderator_sidebar-mini {% endblock body_class %}

{% block stylesheets %}
<!-- Include necessary stylesheets -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<link rel="stylesheet" href="/static/assets/plugins/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="/static/assets/plugins/daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="/static/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<link rel="stylesheet" href="/static/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
<link rel="stylesheet" href="/static/assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
<link rel="stylesheet" href="/static/assets/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="/static/assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
<link rel="stylesheet" href="/static/assets/css/adminlte.min.css">
<link rel="stylesheet" href="/static/assets/css/mine.css">
{% endblock stylesheets %}

{% block content %}
<!-- Content Wrapper -->
<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Flash messages -->
    <div class="row mb-2">
      <div class="col-12">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="alert-container">
          {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
      </div>
    </div>

    <!-- Content Header -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add Student Teacher</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{url_for('main.index')}}">Home</a></li>
              <li class="breadcrumb-item active">Add Student Teacher</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card card-default card-info">
          <div class="card-header">
            <h3 class="card-title">Student Teacher Information</h3>
          </div>
          <div class="card-body">
            <form action="{{ url_for('student.add_student') }}" method="POST" class="form-horizontal">
              <!-- CSRF Token for security -->
              <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

              <fieldset>
                <legend>Student Teacher Details</legend>

                <!-- Student Teacher Name -->
                <div class="form-group">
                  <label for="student_teacher">Student Teacher Name:</label>
                  <input type="text" id="student_teacher" name="student_teacher" class="form-control" placeholder="Enter Name" required />
                </div>

                <!-- School Selection -->
                <div class="form-group">
                  <label for="school_id">School:</label>
                  <select class="form-control select2" name="school_id" id="school" style="width: 100%;" required>
                    <option value="" selected disabled>Select a School</option>
                    {% for school in schools %}
                    <option value="{{ school.id }}">{{ school.name }}</option>
                    {% endfor %}
                  </select>
                </div>

                <!-- Programme Selection -->
                <div class="form-group">
                  <label for="programme_id">Programme:</label>
                  <select class="form-control select2" name="programme_id" id="programme" class="form-control select2" required>
                    <option value="" selected disabled>Select a Programme</option>
                    {% for programme in programmes %}
                    <option value="{{ programme.id }}">{{ programme.programme_name }}</option>
                    {% endfor %}
                  </select>
                </div>

                <!-- Registration Number -->
                <div class="form-group">
                  <label for="reg_no">Registration Number:</label>
                  <input type="text" id="reg_no" name="reg_no" class="form-control" placeholder="Enter Registration Number" required />
                </div>

                <!-- Term Selection -->
                <div class="form-group">
                  <label for="term_id">Semester:</label>
                  <select class="form-control select2" name="term_id" id="terms" style="width: 100%;" required>
                    <option value="" selected disabled>Select a Semester</option>
                    {% for term in terms %}
                    <option value="{{ term.id }}">{{ term.term }}</option>
                    {% endfor %}
                  </select>
                </div>

                <!-- Term Selection -->
                <div class="form-group">
                  <label for="academic_year_id">Academic year:</label>
                  <select class="form-control select2" name="academic_year_id" id="academic_year" style="width: 100%;" required>
                    <option value="" selected disabled>Select academic year</option>
                    {% for academic_year in academic_years %}
                    <option value="{{ academic_year.id }}">{{ academic_year.academic_year }}</option>
                    {% endfor %}
                  </select>
                </div>


                <!-- Study Year Selection -->
                <div class="form-group">
                  <label for="study_year_id">Study Year:</label>
                  <select class="form-control select2" name="study_year_id" id="study_years" style="width: 100%;" required>
                    <option value="" selected disabled>Select Study Year</option>
                    {% for study_year in study_years %}
                    <option value="{{ study_year.id }}">{{ study_year.study_year }}</option>
                    {% endfor %}
                  </select>
                </div>




                <!-- Subject, Class, Teaching Time, Topic, Subtopic -->
                <div class="form-group">
                  <label for="subject">Subject:</label>
                  <input type="text" id="subject" name="subject" class="form-control" placeholder="Enter Subject" />
                </div>

                <div class="form-group">
                  <label for="class">Class:</label>
                  <input type="text" id="class" name="class" class="form-control" placeholder="Enter Class" />
                </div>

                <div class="form-group">
                  <label for="teaching_time">Teaching Time:</label>
                  <input type="datetime-local" id="teaching_time" name="teaching_time" class="form-control" />
                </div>

                <div class="form-group">
                  <label for="topic">Topic:</label>
                  <input type="text" id="topic" name="topic" class="form-control" placeholder="Enter Topic" />
                </div>

                <div class="form-group">
                  <label for="subtopic">Subtopic:</label>
                  <input type="text" id="subtopic" name="subtopic" class="form-control" placeholder="Enter Subtopic" />
                </div>
              </fieldset>

              <!-- Form Action Buttons -->
              <div class="form-group">
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
<script src="/static/assets/plugins/jquery/jquery.min.js"></script>
<script src="/static/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/plugins/select2/js/select2.full.min.js"></script>
<script src="/static/assets/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
<script src="/static/assets/plugins/moment/moment.min.js"></script>
<script src="/static/assets/plugins/inputmask/jquery.inputmask.min.js"></script>
<script src="/static/assets/plugins/daterangepicker/daterangepicker.js"></script>
<script src="/static/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="/static/assets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="/static/assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<script src="/static/assets/js/adminlte.min.js"></script>
<script src="/static/assets/js/demo.js"></script>
<script src="/static/assets/js/mine.js"></script>

<script>
  $(function () {
    // Initialize Select2 for dropdowns
    $('.select2').select2();
  });
</script>
{% endblock javascripts %}
