<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <img src="/static/assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light"><b>e</b>-Assessment</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="/static/uploads/imgs/{{session['profile_image']}}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="{{ url_for('auth.logout') }}" class="d-block">
          {{session['first_name']}}<br> {{session['last_name']}} - Logout
        </a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Dashboard Menu Item with Dropdown -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{{ url_for('auth.manage_users') }}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>View Users</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('auth.add_user') }}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Users</p>
              </a>
            </li>
          </ul>



            <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{{ url_for('db_bk.manage_backups') }}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Database buckups</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Buck up</p>
              </a>
            </li>
          </ul>





        </li>
      </ul>
    </nav>
    <!-- End Sidebar Menu -->
  </div>
  <!-- End Sidebar -->
</aside>
