<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/" class="brand-link">
        <img src="/static/assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">e-Assessment</span>
    </a>

    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/static/uploads/imgs/{{session['profile_image']}}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="{{ url_for('auth.logout') }}" class="d-block">
                    {{session['first_name']}}<br> {{session['last_name']}} - Logout
                </a>
            </div>
        </div>

        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-header">STUDENTS DATA</li>
                <li class="nav-item has-treeview {% if 'students' in segment %} menu-open {% endif %}">
                    <a href="#" class="nav-link {% if 'students' in segment %} active {% endif %}">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Students
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ url_for('student.manage_assigned_student') }}" class="nav-link {% if 'assigned_student' in segment %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Assigned Students</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('student.manage_student') }}" class="nav-link {% if 'manage_student' in segment %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Students Data</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-header">TEACHER OBSERVATION TOOL</li>
                <li class="nav-item has-treeview {% if 'assessment' in segment and 'assess_student' in segment %} menu-open {% endif %}">
                    <a href="#" class="nav-link {% if 'assessment' in segment and 'assess_student' in segment %} active {% endif %}">
                        <i class="nav-icon fas fa-clipboard-list"></i>
                        <p>
                            Assessment
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{url_for('student.manage_assess_students')}}" class="nav-link {% if 'manage_assess_student' in segment and 'm_' not in segment %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Assessment Status</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-header">MODERATE</li>
                <li class="nav-item has-treeview {% if 'assessment' in segment and 'm_manage_assess_student' in segment %} menu-open {% endif %}">
                    <a href="#" class="nav-link {% if 'assessment' in segment and 'm_manage_assess_student' in segment %} active {% endif %}">
                        <i class="nav-icon fas fa-clipboard-list"></i>
                        <p>
                            Assessment
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{url_for('student.m_manage_assess_student')}}" class="nav-link {% if 'm_manage_assess_student' in segment %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Students To Assess</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-header">Display Form</li>
                <li class="nav-item has-treeview {% if 'display_form' in segment %} menu-open {% endif %}">
                    <a href="#" class="nav-link {% if 'display_form' in segment %} active {% endif %}">
                        <i class="nav-icon fas fa-clipboard-list"></i>
                        <p>
                            Assessment
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{url_for('d_f_students.i_a_students')}}" class="nav-link">
                                <i class="fas fa-user-graduate nav-icon"></i> <p>Internal Students</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{url_for('student.m_manage_assess_student')}}" class="nav-link">
                                <i class="fas fa-users nav-icon"></i> <p>External Students</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-header">System Docs</li>
                <li class="nav-item">
                    <a target="_blank" rel="noopener noreferrer" href="#" class="nav-link">
                        <i class="nav-icon fas fa-file"></i>
                        <p>UI Documentation</p>
                    </a>
                </li>
            </ul>
        </nav>
        </div>
    </aside>