<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <img src="/static/assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">e-Assessment</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="/static/assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="{{ url_for('auth.logout') }}" class="d-block">
          {{ username }} - Logout
        </a>
      </div>
    </div>
    <!-- Sidebar Search Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        
        <!-- Students Section -->
        <li class="nav-header">STUDENTS DATA</li>
        <li class="nav-item has-treeview {% if 'students' in segment %} menu-open {% endif %}">
          <a href="#" class="nav-link {% if 'students' in segment %} active {% endif %}">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Students
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
           
            <li class="nav-item">
              <a href="{{ url_for('student.manage_assigned_student') }}" class="nav-link {% if 'assigned_student' in segment %} active {% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Assigned Students</p>
              </a>
            </li>
          
            <!-- Placeholder Item (can be replaced or removed) -->
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>#</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Assessment Section -->
           <!-- Miscellaneous Section -->
        <li class="nav-header">TEACHER OBSERVATION TOOL</li>
        <li class="nav-item has-treeview {% if 'assessment' in segment %} menu-open {% endif %}">
          <a href="#" class="nav-link {% if 'assessment' in segment %} active {% endif %}">
            <i class="nav-icon fas fa-clipboard-list"></i>
            <p>
              Assessment
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
         
            <li class="nav-item">
              <a href="{{url_for('student.manage_assess_student')}}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Assessment Status</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{url_for('assessment.check_student')}}" class="nav-link {% if 'check_student' in segment %} active {% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Assess</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Miscellaneous Section -->
        <li class="nav-header">System Docs</li>
        <li class="nav-item">
          <a target="_blank" rel="noopener noreferrer" href="#" class="nav-link">
            <i class="nav-icon fas fa-file"></i>
            <p>UI Documentation</p>
          </a>
        </li>

        

      

      </ul>
    </nav>
    <!-- End Sidebar Menu -->
  </div>
  <!-- End Sidebar -->
</aside>
