<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <span class="brand-text font-weight-light">e Assessment</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar User Panel -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex justify-content-center align-items-center">
      <center>
        <div class="info">
          <a href="{{ url_for('auth.logout') }}" class="d-block">
            {{ username }} - Logout <br>Role - {{ role }}
          </a>
        </div>
      </center>
    </div>

    <!-- Sidebar Search Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <!-- Students -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>Students <i class="right fas fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item"><a href="{{ url_for('student.manage_student') }}" class="nav-link"><i class="far fa-circle nav-icon"></i><p>View Students</p></a></li>
            <li class="nav-item"><a href="{{ url_for('student.add_student') }}" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Add Student</p></a></li>
          </ul>
        </li>

        <!-- Aspects -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-cogs"></i>
            <p>Aspects <i class="right fas fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item"><a href="{{ url_for('aspects.manage_aspects') }}" class="nav-link"><i class="far fa-circle nav-icon"></i><p>View Aspects</p></a></li>
            <li class="nav-item"><a href="{{ url_for('aspects.add_aspects') }}" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Add Aspect</p></a></li>
          </ul>
        </li>

        <!-- Programmes -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>Programmes <i class="right fas fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item"><a href="{{ url_for('programmes.manage_programmes') }}" class="nav-link"><i class="far fa-circle nav-icon"></i><p>View Programmes</p></a></li>
            <li class="nav-item"><a href="{{ url_for('programmes.add_programme') }}" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Add Programme</p></a></li>
          </ul>
        </li>

        <!-- Terms -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-calendar-alt"></i>
            <p>Terms <i class="right fas fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item"><a href="{{ url_for('terms.manage_term') }}" class="nav-link"><i class="far fa-circle nav-icon"></i><p>View Terms</p></a></li>
            <li class="nav-item"><a href="{{ url_for('terms.add_term') }}" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Add Terms</p></a></li>
          </ul>
        </li>

        <!-- Assessment -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-pencil-alt"></i>
            <p>Assessment <i class="right fas fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item"><a href="{{ url_for('assessment.assessment_report') }}" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Report</p></a></li>
            <li class="nav-item"><a href="{{ url_for('assessment.check_student') }}" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Assess</p></a></li>
          </ul>
        </li>

        <!-- User Accounts -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-users-cog"></i>
            <p>User Accounts <i class="right fas fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item"><a href="{{ url_for('auth.manage_users') }}" class="nav-link"><i class="far fa-circle nav-icon"></i><p>View Users</p></a></li>
            <li class="nav-item"><a href="{{ url_for('auth.add_user') }}" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Add User</p></a></li>
          </ul>
        </li>

        <!-- Schools -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-school"></i>
            <p>Schools <i class="right fas fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item"><a href="{{ url_for('schools.manage_schools') }}" class="nav-link"><i class="far fa-circle nav-icon"></i><p>View Schools</p></a></li>
            <li class="nav-item"><a href="{{ url_for('schools.add_schools') }}" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Add Schools</p></a></li>

              <li class="nav-item"><a href="{{ url_for('school_category.manage_category') }}" class="nav-link"><i class="far fa-circle nav-icon"></i><p>School Category</p></a></li>


          </ul>
        </li>

        <!-- Moderate -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-cogs"></i>
            <p>Moderate <i class="right fas fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            

            
          </ul>
        </li>

      </ul>
    </nav>
  </div>
</aside>
